/*----------------------------
	Global (Includes Overwrites)
----------------------------*/

body {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
}

article {
	font: 19px/31px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

a:hover {
	cursor: pointer;
}

h1 {
	font-size: 4.5em;
	line-height: 1em;
}

h3 {
	font-size: 1.6em;
	line-height: 1.6em;
	font-weight: bold;
	color: rgb(38, 57, 80);
	margin: 0 0 2px;
	opacity: 0.85;	
}

li {
	list-style: none;
}


/*----------------------------
	Headline Overwrites
----------------------------*/

.headline {
	padding: 15% 0;
	text-align: center;
	background: transparent;
}

.headline .info > h1 {
	font-size: 5em;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 100px;
	margin-left: 30px;
}

.headline .info > small {
  color: rgba(52, 73, 94, 0.30000000000000004);
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-top: 5px;
  margin-right: 30px;
}

.headline .info > button {
	margin-left: 20px;
	margin-top: 30px;
}

.headline .info > h1, .headline .info > small, .headline .info > button {
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
	opacity: 0;
}

.headline .info > h1.loaded {
	margin: 10px 0;
}

.headline .info > small.loaded {
	margin: 0;
}

.headline .info > button.loaded {
	margin-left: 0;
}

.headline .info > h1.loaded, .headline .info > small.loaded, .headline .info > button.loaded {
	opacity: 1;
}

.headline-icons {
	width: auto;
	height: auto;
	position: absolute;
	background-color: #f4f4f4;
	z-index: -1;
}

.headline-icons > div {
	-webkit-transition: margin 0.25s, -webkit-transform 0.25s;
	-moz-transition: margin 0.25s, -moz-transform 0.25s;
	-o-transition: margin 0.25s, -o-transform 0.25s;
	transition: margin 0.25s, transform 0.25s;
	position: absolute;
}

.headline-icons > div.moleskin {
	width: 339px;
	height: 528px;
	top: -90px;
	left: -10px;
	transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
}

.headline-icons > div.coffee {
	width: 295px;
	height: 251px;
	top: -61px;
	left: 630px;
	transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
}

.headline-icons > div.sticky {
	width: 224px;
	height: 230px;

	transform: rotate(0);
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
}


.headline-icons > div.s3 {
	width: 178px;
	height: 345px;
	left: 180px;
	top: 440px;
	transform: rotate(-80deg);
	-ms-transform: rotate(-80deg);
	-webkit-transform: rotate(-80deg);
}

/*----------------------------
	Approach
----------------------------*/

.approach-section {
	background: #f6f8f8;
	padding: 6% 0 12%;	
}

.approach-section h1 {
	display: block;
	text-align: center;
}

.topic {
	padding-top: 5%;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.topic-image {
	float: left;
	width: 148px;
}

.topic-image > img {
	display: inline-block;
	max-height: 100px;
	max-width: 100px;
	vertical-align: baseline;
}

.topic .frame p {
	font-size: .9em;
	line-height: 1.4em;
}

/*----------------------------
	Muse
----------------------------*/

.muse-section {
	display:block;
	-webkit-transition:0.25s ease-in-out;
	-moz-transition:0.25s ease-in-out;
	-ms-transition:0.25s ease-in-out;
	-o-transition:0.25s ease-in-out;
	transition:0.25s ease-in-out;
	color:rgba(52, 73, 94, 0.95);
}

.muse {
	width:1104px;
	margin:0 auto;
	padding:126px 0 146px;
	display:block;
	position: relative;
}

.muse h2 {
	font-size: 3em;
	line-height: 1.2em;
	margin:0 0 41px;
}

.muse .details {
	width:100%;
	overflow:hidden;
	display:block;
}

.muse .frame {
	float:left;
	width:470px;
	display:block;
}

.web {
	position:relative;
	float:right;
	width:553px;
	height:408px;
	top:-217px;
	-webkit-transition:0.25s ease-in-out;
	-moz-transition:0.25s ease-in-out;
	-ms-transition:0.25s ease-in-out;
	-o-transition:0.25s ease-in-out;
	transition:0.25s ease-in-out;
}

.muse-section:hover .web {
	top:-223px;
	cursor: pointer;
}

.web .web-block {
	position: relative;
	width: 100%;
	height: 100%;
}

.web .web-block > span {
	position: absolute;
	opacity: 0;
}

.web-block span.web-element1 {
	top: 0;
	left:0;
}
.web-block span.web-element2 {
	top: 33px;
	left:0;
}
.web-block span.web-element3 {
	top: 292px;
	left:0;
}

.web-block span.web-element1 img, .web-block span.web-element2 img, .web-block span.web-element3 img {
	position: absolute;
}

.web-block img.icon {
	top:180px;
	left:230px;
	opacity:0;
	position:absolute;
	-webkit-transition:0.25s ease-in-out;
	-moz-transition:0.25s ease-in-out;
	-ms-transition:0.25s ease-in-out;
	-o-transition:0.25s ease-in-out;
	transition:0.25s ease-in-out;
	z-index: 1;
	position: relative;
	width: 90px;
	height:60px;
}

.muse-section:hover .web-block img.icon {
	top:190px;
	left:230px;
	width: 90px;
	height: 60px;
	opacity: 1 !important;
}

.muse-section:hover .web-block img {
	opacity:0.5 !important;
}

.muse-section {
	height: 500px;
	overflow: hidden;
}

.buttonholder {
	display: none;
}

.definition {
	position: absolute;
	bottom: 0;
	font-size: 70%;
}

.definition p {
	margin: 0;
	line-height: 1em;
}

.muse-section:hover {
	background:#1abc9c;
	color: rgba(255,255,255,0.95);
}

/*----------------------------
	About Me
----------------------------*/

.about-me-section {
	background: #f6f8f8;	
	display:block;
	color:rgba(52, 73, 94, 0.95);
	width:100%;
	overflow:hidden;
}

.about {
	width:1104px;
	overflow:hidden;
	padding: 8% 0 7%;
	margin:0 auto;
}

.about h2{
	font-size:58px;
	line-height:70px;
	color:#34495e;
	margin:0 0 40px;
}

.about .frame {
	float:right;
	width:574px;
	margin-top: 90px;
}

.about .frame p {
	margin: 0 0 30px;
}

.about > img {
	float:left;
}

/*----------------------------
	Share Section
----------------------------*/

.share-section {
	text-align: center;
	padding: 4% 0 5%;
	background: #fafafa;
}

.share-section h1 {
	font-size: 3em;
	color: #d5d8d8;
}

.share-list {
	margin:0;
	margin-top: 30px;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	font-size:13px;
	line-height:17px;
}

.share-list li {
	float:left;
	margin:0 0 0 20px;
}

.share-list li:first-child {
	margin:0;
}

.share-list a {
	position:relative;
	float:left;
	text-decoration: none;
	border-radius:5px;
	font-weight:bold;
	padding:9px 16px 8px 46px;
	color:#fff;
}

.share-list a:hover {
	text-decoration:none;
	opacity:0.8;
}

.share-list a span {
	font-weight:normal;
	margin:0 0 0 9px;
	display:inline-block;
	vertical-align:top;
}

.share-list .twitter {
	background:#00bdef;
} 

.share-list .facebook {
	background:#2f4b93;
}

.share-list .google {
	background:#2d2d2d;
}

.share-list .pin {
	background:#cb2028;
}

.share-list .linkedin {
	background:#0072b5;
}

.share-list .twitter:before {
	position:absolute;
	content:'';
	background:url(/images/sprite.png) no-repeat 0 -329px;
	width:16px;
	height:13px;
	top:10px;
	left:18px;
}
.share-list .facebook:before {
	position:absolute;
	content:'';
	background:url(/images/sprite.png) no-repeat 0 -350px;
	width:16px;
	height:16px;
	top:9px;
	left:19px;
}
.share-list .google:before {
	position:absolute;
	content:'';
	background:url(/images/sprite.png) no-repeat -27px -328px;
	width:16px;
	height:14px;
	top:10px;
	left:17px;
}
.share-list .pin:before {
	position:absolute;
	content:'';
	background:url(/images/sprite.png) no-repeat -27px -350px;
	width:16px;
	height:16px;
	top:9px;
	left:18px;
}
.share-list .linkedin:before {
	position:absolute;
	content:'';
	background:url(/images/sprite.png) no-repeat -53px -328px;
	width:16px;
	height:16px;
	top:9px;
	left:18px;
}

.share-list dt {
	display:inline;
}

/*----------------------------
	Footer
----------------------------*/

footer {
	padding: 4% 0 3%;
	background-color: #2C3E50;
	color: #5f7f9f;
	text-align: center;
}

footer .references {
	margin: 0 auto;
	width: 60%;	
}

footer a, footer a:visited {
	color: #5f7f9f;
}

footer a:hover {
	color: #7490ac;
}

footer p {
	font-size: 1.5em;
	line-height: 1.3em;
	padding-bottom: 10px;
}

@media screen and (max-width: 1108px) { 
	.headline-icons > div.moleskin {
		width: 252px;
		height: auto;
	}
	
	.headline-icons > div.moleskin img {
		width: 230px;
		height: auto;
	}
	
	.headline-icons > div.s3 {
		width: 122px;
		margin-top: 36%;
		margin-left: 28%;
	}
	
	.topic {
		width: 100%;	
	}
	
	.details, .muse, .about {
		width:auto !important;
		margin:0 50px !important;
		padding:50px 0 !important;
	}
	
	.muse .details{
		padding:0 !important;
		margin:0 !important;
	}
	
	.muse .frame {
		float: none;
		width: auto;
		margin: 0;
		padding: 0;
	}
	
	.muse h2 {
		margin: 0 0 30px;
	}
	
	.muse-section {
		height:	auto;
	}
	
	.web {
		float: none;
		position: relative;
		top: 80px;
		height:240px;
		margin: 0 auto;
	}
	
	.muse-section:hover .web { 
		top:75px;
	}
	
	.muse-section .web .icon {
		top:100px;
		left: 50%;
		margin-left: -48px; 
	}
	
	.definition {
		position: relative;
	}
	
	.muse-section:hover .web img.icon {
		top:110px;
		left: 50%;
		margin-left: -48px;
	}
	
	.about h2 {
		margin: 0 0 30px;
	}

	
	.about .frame {
		float: left;
		width: 50%;
		margin: 60px 0 20px;
		padding: 0;
	}

	.about > img {
		width: 30%;
		height: auto;
		margin: 0 5%;
		float: left;
	}
}

@media screen and (max-width: 980px) {	
	.headline-icons > div.moleskin {
		width: 152px;
		height: auto;
	}
	
	.headline-icons > div.moleskin img {
		width: 140px;
		height: auto;
	}
	
	.headline-icons > div.s3 {
		width: 87px;
		margin-left: 29%;
		margin-top: 150px;
		-webkit-transform: rotate(-60deg);
	}
	
	.about > img {
		width: 35%;
		height: auto;
		margin: 0 6% 0 0;
		float: left;
	}
	
	.about .frame {
		margin-top: 0;
		width: 55%;
	}
}

@media screen and (max-width: 768px) {	
	.headline .info h1 {
		font-size: 4em;
		line-height: 1.4em;	
	}

	h3 {
		font-size: 1.3em;
		line-height: 1.4em
	}

	.headline-icons, .headline-icons > div {
		display: none;
	}

	.approach-section h1 {
		font-size: 3.5em;
	}
	
	.topic {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.muse {
		margin: 0 !important;
		padding:50px 40px !important;
	}
	
	.muse h2 {
		margin: 0 0 15px;
		font-size: 2.2em;
	}
	
	.web { 
		display:none;
		float:none;
		margin:0 auto;
		width:164px;
	}
	
	.muse .buttonholder { 
		display:block;
	}
	
	.muse .buttonholder a { 
		display: inline-block;
		vertical-align: top;
		width: 220px;
		font-size: 17px;
		line-height: 21px;
		font-weight: bold;
		border: 2px solid #1abc9c;
		background-color: #fff;
		border-radius: 5px;
		padding: 12px 0;
		font-weight: 500;
		color:#1abc9c;
		text-align:center;
		margin-top:30px;
		-webkit-transition:0.3s ease-in-out;
		-moz-transition:0.3s ease-in-out;
		-ms-transition:0.3s ease-in-out;
		-o-transition:0.3s ease-in-out;
		transition:0.3s ease-in-out;
	}
	
	.muse:hover .buttonholder a { 
		color:#fff;
		background:#1abc9c;
		border-color:#fff;
	}
	
	.about {
		margin: 0 !important;
		padding: 50px 40px !important;
	}
	
	.about h2 {
		margin: 0 0 15px;
		font-size: 2.2em;
	}

	.about .frame {
		width: auto;
	}
	
	.about > img {
		display: none;
	}
	
	.share-list {
		padding: 0 20px;
	}
	
	.share-list li {
		margin: 0 0 10px 10px;
		float: none;
		display: inline-block;
	}
	
	.share-list li:first-child {
		margin: 0 0 10px 0;
	}
	
	.share-list span {
		display: none;
	}

	footer .references {
		width: 80%;
	}
}

@media screen and (max-width: 480px) {
	.headline .info h1 {
		font-size: 3.3em;
		line-height: 1.4em;	
	}
	
	.approach-section h1 {
		font-size: 2.4em;
		line-height: 1.4em;
	}
	
	.muse h2 {
		font-size: 1.8em;	
	}
	
	.topic-image {
		width: 115px;
	}
}

@media screen and (max-width: 480px) {
	.headline .info h1 {
		font-size: 2.4em;
	}
}