@charset "UTF-8";
@import url('/bootstrap/css/bootstrap.min.css');
@import url('flat-ui.css');
/*@import url('demo.css');*/

body { padding-top: 100px;}

.bg-lt-gray {
	background-color: #f4f4f4;
}

.navbar {
	margin-bottom: 0;
	min-height: 100px;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	max-height: 100%;
}

.navbar-btn {
	margin-left: 20px;
}

.navbar-brand {
	font-size: 40px;
	height: auto;
	padding-top: 4%;
	padding-bottom: 4%;
}

.navbar-brand .logo-header {
	background: url(../images/logo-header.png) center 0 no-repeat;
	background-size: 30px 40px;
	height: 40px;
	overflow: hidden;
	text-indent: -9999em;
	width: 30px;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.navbar-toggle {
	padding-top: 3%;
	height: auto;
}

.super-hero {
	padding: 73px 0 110px;
}

h1.headline {
	font: 900 4em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -2px;
	margin: 10px 0;
}

h1.headline>small {
	color: rgba(52, 73, 94, 0.30000000000000004);
	display: block;
	font-size: 30%;
	font-weight: 700;
	letter-spacing: 0;
	padding-top: 5px;
}

.media>.pull-left {
	margin-right: 30px;
}

.media .media-object {
	width: 100px;
	height: 100px;
}

/*---------------------------- Muse ----------------------------*/
#muses .muse {
	display:block;
	-webkit-transition:0.25s ease-in-out;
	-moz-transition:0.25s ease-in-out;
	-ms-transition:0.25s ease-in-out;
	-o-transition:0.25s ease-in-out;
	transition:0.25s ease-in-out;
	text-align: center;
	margin:0 auto;
	padding:4% 0;
	display:block;
	position: relative;
}

.muse h2 {
	font-size: 3em;
	line-height: 1.2em;
	margin:0 0 41px;
}

.muse .details {
	width:100%;
	display:block;
}

.muse .frame {
	float:left;
	display:block;
}

.web {
	position:relative;
	float:right;
	width:553px;
	height:408px;
	top:-217px;
	-webkit-transition:0.25s ease-in-out;
	-moz-transition:0.25s ease-in-out;
	-ms-transition:0.25s ease-in-out;
	-o-transition:0.25s ease-in-out;
	transition:0.25s ease-in-out;
}

.web:hover {
	top:-223px;
	cursor: pointer;
}

.web .web-block {
	position: relative;
	width: 100%;
	height: 100%;
}

.web .web-block > span {
	position: absolute;
	opacity: 0;
}

.web-block span.web-element1 {
	top: 0;
	left:0;
}
.web-block span.web-element2 {
	top: 33px;
	left:0;
}
.web-block span.web-element3 {
	top: 291px;
	left:0;
}

.web-block span img {
	position: absolute;
}

.web-block img.icon {
	top:180px;
	left:230px;
	opacity:0;
	position:absolute;
	-webkit-transition:0.25s ease-in-out;
	-moz-transition:0.25s ease-in-out;
	-ms-transition:0.25s ease-in-out;
	-o-transition:0.25s ease-in-out;
	transition:0.25s ease-in-out;
	z-index: 1;
	position: relative;
	width: 90px;
	height:60px;
}

#muses:hover .muse .web-block img.icon {
	top:190px;
	left:230px;
	width: 90px;
	height: 60px;
	opacity: 1 !important;
}

#muses:hover .muse .web-block img {
	opacity:0.5 !important;
}

.buttonholder {
	display: none;
}

#muses .muse:hover  {
	background:#1abc9c;
	color: rgba(255,255,255,0.95);
}

@media (min-width: 768px) { 
	.navbar-btn {
		margin-left: 0;
	}
	.navbar-brand .logo-header {
		display: inline-block;
	}
	.super-hero>h1 {
		font: 900 5em "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
	.logo-header {
		background-image: url(../images/logo-header-2x.png);
	}
}