/* Overrides of custom.js */
.survey .headline .info.loaded.less-padding {
	padding: 3% 0 2% 0;
	-webkit-transition: padding .5s;
	-moz-transition: padding .5s;
	-o-transition: padding .5s;
	transition: padding .5s;
}
/* End Overrides */

/* Overrides of Bootstrap */
.thumbnails .thumbnail img {
	max-height: 268px;
}

.media, .media .media {
	margin-top: 30px;
}

#sign-up form {
	margin-bottom: 0;
}
/* End Overrides */

/* Bubble with tail
---------------------------------------- */
.tab {
	z-index: 1;
	top: 0.5em;
	padding: 1% 0;
	position:relative;
	-webkit-border-top-right-radius: .75em;
	-moz-border-radius-topright: .75em;
	border-top-right-radius: .75em;
	-webkit-border-top-left-radius: .75em;
	-moz-border-radius-topleft: .75em;
	border-top-left-radius: .75em;
	text-align:center;
	background: #1abc9c;
	color: #f4f4f4;
}

.tab:before, .tab:after {
	content: "";
	position: absolute;
	width: 1em;
	height: 1em;
	border: solid #1abc9c;
}
.tab:before {
	right: 100%;
	bottom: .5em;
	border-width: 0 1em 1em 0;
	margin: 0 -1em -1em 0;
	-webkit-border-bottom-right-radius: 2em;
	-moz-border-radius-topright: 2em;
	border-bottom-right-radius: 2em;
	clip: rect(auto 1em 1em auto);
}
.tab:after {
	left: 100%;
	bottom: -.5em;
	margin-left: -1em;
	border-width: 0 0 1em 1em;
	-webkit-border-bottom-left-radius: 2em;
	-moz-border-radius-bottomleft: 2em;
	border-bottom-left-radius: 2em;
	clip: rect(auto auto 1em 1em);
}

.tab h2 {
	padding: 0;
	margin: 0;
}

#questions {
	background: #1abc9c;
	padding: 6% 0;
	position: relative;
}

#questions .questions-icon {
	color: #fff;
	text-align: center;
}

#questions .questions-icon img {
	padding-bottom: 20px;
}

#questions .questions-icon h2 {
	font-weight: 100;
	margin: 0;
}

.login-form .login-field {
	height: 250px;
	margin-bottom: 20px !important;	
}

.login-form .login-field:focus {
	border-color: #1abc9c;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.login-form .divider {
	border-top: 1px solid #bfc5ca;
	padding-bottom: 10px;
	margin-top: 10px;
}

.panButtonBar {
	margin-top: 20px;
}

.panButtonBar input {
	margin: 10px 0;
}

/* Thank You Page */
.abaa-cta {
	margin-left: 272px;
	position: relative;
}

.content img {
	float: left;
	margin-left: -272px;
}

.content .whats-inside {
	padding-top: 35px;
}

.content .sign-up, .content .follow_abaa {
	padding-top: 25px;
}

.abaa-cta .input-append input {
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

.follow_abaa .share-list {
	margin-top: 15px;
}

@media screen and (max-width: 767px) {
	.headline .info h1 {
		font-size: 2em;
		line-height: 1.4em;
	}

	#questions {
		padding: 3% 0;
	}

	.tab:before, .tab:after {
		border: 0;
	}
}