// Button Inverse variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-inverse-variant($color) {
  color: $color;
  background-color: #fff;
  border-color: $color;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
        color: #fff;
        background-color: $color;
        border-color: #fff;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $color;
          border-color: #fff;
    }
  }

  .badge {
    color: #fff;
    background-color: $color;
  }
}
