// Button Inverse variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-inverse-variant($color, $bg-color: transparent, $parent: null) {
    @if $parent != null {
        #{$parent} { 
            @include button-inverse($color, $bg-color); 
        }
    } @else {
        @include button-inverse($color, $bg-color);
    }
}
    
@mixin button-inverse($color, $bg-color) {
    color: $color;
    background-color: $bg-color;
    border-color: $color;
    
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: #fff;
        background-color: $color;
        border-color: $bg-color;
    }
    
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: $color;
            border-color: $bg-color;
        }
    }
    
    .badge {
        color: #fff;
        background-color: $color;
    }
}