// Inverse Navbar variants
//
// Easily pump out inverse styles, including hover, focus, active,
// disabled, and form options for navbar variants

@mixin navbars-inverse($parent, $bg-color) {
    //Reset inverted navbar variables

    // Inverted navbar basics
    $navbar-inverse-divider:              darken($bg-color, 3%);
    $navbar-inverse-color:                $inverse;
    $navbar-inverse-bg:                   $bg-color;
    $navbar-inverse-border:               $inverse;
    
    // Inverted navbar links
    $navbar-inverse-link-color:           darken($bg-color, 15%);
    $navbar-inverse-link-hover-color:     darken($bg-color, 25%);
    $navbar-inverse-link-hover-bg:        transparent;
    $navbar-inverse-link-active-color:    $inverse;
    $navbar-inverse-link-active-bg:       transparent;
    $navbar-inverse-link-disabled-color:  #444;
    $navbar-inverse-link-disabled-bg:     transparent;
    
    // Inverted navbar nav carets
    $navbar-inverse-caret-color:          lighten(desaturate($bg-color, 7%), 9%);
    $navbar-inverse-caret-hover-color:    $navbar-inverse-link-hover-color;
    $navbar-inverse-caret-active-color:   $navbar-inverse-link-active-color;
    
    // Inverted navbar brand label
    $navbar-inverse-brand-color:          $inverse;
    $navbar-inverse-brand-hover-color:    $navbar-inverse-link-hover-color;
    $navbar-inverse-brand-hover-bg:       transparent;
    
    // Inverted navbar toggle
    $navbar-inverse-toggle-color:         $navbar-inverse-link-color;
    $navbar-inverse-toggle-hover-color:   $navbar-inverse-link-hover-color;
    
    // Inverted navbar form
    $navbar-inverse-form-bg:              darken($bg-color, 6%);
    $navbar-inverse-form-placeholder:     desaturate(lighten($bg-color, 13%), 7%);
    $navbar-inverse-form-icon:            desaturate(lighten($bg-color, 13%), 6%);
    $navbar-inverse-form-border:          $navbar-inverse-divider;
    
    // Inverted dropdown menu
    $navbar-inverse-dropdown-arrow:             $navbar-inverse-bg;
    $navbar-inverse-dropdown-bg:                $navbar-inverse-bg;
    $navbar-inverse-dropdown-link-color:        mix($navbar-inverse-bg, $navbar-inverse-color, 15%);
    $navbar-inverse-dropdown-link-hover-color:  $inverse;
    $navbar-inverse-dropdown-link-hover-bg:     darken($bg-color, 15%);
    
    #{$parent} {
        background-color: $navbar-inverse-bg;
        
        .navbar-brand {
          color: $navbar-inverse-brand-color;   
          &:hover,
          &:focus {
            color: $navbar-inverse-brand-hover-color;
            background-color: $navbar-inverse-brand-hover-bg;
          }
        }
        
        .navbar-toggle {
          &:before {
            color: $navbar-inverse-toggle-color;
          }   
          &:hover,
          &:focus {
            background-color: transparent;
            
            &:before {
              color: $navbar-inverse-toggle-hover-color;
            }
          }
        }
        
        .navbar-collapse {
          border-color: $navbar-inverse-form-border;
          border-width: 2px;
        }
        
        .navbar-nav {
          > li > a {
            color: $navbar-inverse-link-color;
        
            &:hover,
            &:focus {
              color: $navbar-inverse-link-hover-color;
              background-color: $navbar-inverse-link-hover-bg;
            }
          }
          > .active > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-inverse-link-active-color;
              background-color: $navbar-inverse-link-active-bg;
            }
          }
          > .disabled > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-inverse-link-disabled-color;
              background-color: $navbar-inverse-link-disabled-bg;
            }
          }
        }
        
        // Dropdown menu items and carets
        .navbar-nav {
          // Caret should match text color on hover
          > .dropdown > a:hover .caret,
          > .dropdown > a:focus .caret {
            border-top-color: $navbar-inverse-caret-hover-color;
            border-bottom-color: $navbar-inverse-caret-hover-color;
          }
        
          // Remove background color from open dropdown
          > .open > a {
            &,
            &:hover,
            &:focus {
              background-color: $navbar-inverse-link-active-bg;
              color: $navbar-inverse-link-active-color;
              border-left-color: transparent;        
              .caret {
                border-top-color: $navbar-inverse-link-active-color;
                border-bottom-color: $navbar-inverse-link-active-color;
              }
            }
          }
          > .dropdown > a .caret {
            border-top-color: $navbar-inverse-caret-color;
            border-bottom-color: $navbar-inverse-caret-color;
          }    
          
          > .open {
            > .dropdown-arrow {
              border-top-color: $navbar-inverse-dropdown-arrow;
              border-bottom-color: $navbar-inverse-dropdown-arrow;
            }
            > .dropdown-menu {
              background-color: $navbar-inverse-dropdown-bg;
              padding: 3px 4px;
              
              > li > a {
                color: $navbar-inverse-dropdown-link-color;
                border-radius: $border-radius-base;
                padding: 6px 9px;
                
                &:hover,
                &:focus {
                  color: $navbar-inverse-dropdown-link-hover-color;
                  background-color: $navbar-inverse-dropdown-link-hover-bg;
                }
              }   
              > .divider {
                background-color: $navbar-inverse-divider;
                height: 2px;
                margin-left: -4px;
                margin-right: -4px;
              }
            }
          }
        
          @media (max-width: $grid-float-breakpoint-max) {
             > li > a {
               border-left-width: 0;
             }
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
              > li > a {
                color: $navbar-inverse-link-color;
                &:hover,
                &:focus {
                  color: $navbar-inverse-link-hover-color;
                  background-color: $navbar-inverse-link-hover-bg;
                }
              }
              > .active > a {
                &,
                &:hover,
                &:focus {
                  color: $navbar-inverse-link-active-color;
                  background-color: $navbar-inverse-link-active-bg;
                }
              }
              > .disabled > a {
                &,
                &:hover,
                &:focus {
                  color: $navbar-inverse-link-disabled-color;
                  background-color: $navbar-inverse-link-disabled-bg;
                }
              }
            }
            // Custom background for dividers when collapsed
            .dropdown-menu .divider {
              background-color: $navbar-inverse-divider;
            }
          }
        }
        
        .navbar-form {    
          .form-control {
            color: $navbar-inverse-form-placeholder;
            border-color: transparent;
            background-color: $navbar-inverse-form-bg;
            @include placeholder($navbar-inverse-form-placeholder);
            
            &:focus {
              border-color: $brand-secondary;
               color: $brand-secondary;
            }
          }
          .btn {
            @include button-variant($btn-default-color, $brand-secondary, $btn-primary-hover-bg, $btn-primary-active-bg);
          }
          .input-group-btn .btn {
            border-color: transparent;
            background-color: $navbar-inverse-form-bg;
            color: $navbar-inverse-form-icon;
          }
          .input-group.focus {
            .form-control,
            .input-group-btn .btn {
               border-color: $brand-secondary;
               color: $brand-secondary;
            }     
          }
          
          @media (max-width: $grid-float-breakpoint-max) {
            border-color: $navbar-inverse-form-border;
            border-width: 2px 0;
          }
        }
        
        .navbar-text {
          color: $inverse;
          
          a {
            color: $navbar-inverse-link-color;
            
            &:hover,
            &:focus {
              color: $navbar-inverse-link-hover-color;
            }
          }
        }
        
        .navbar-btn {
          @include button-variant($btn-default-color, $brand-secondary, $btn-primary-hover-bg, $btn-primary-active-bg);
        }
    }
}