$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "variables";
@import "mixins/buttons_inverse";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer; 
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//== Navbar Bootstrap Overwrites
//
//##

.navbar-default {
    @include gradient-vertical(rgba(255,255,255,.3), rgba(255,255,255,.2), 0, 100%);
    @include box-shadow(0 1px 5px rgba(0,0,0,.075));
    border-color: transparent;
}
.navbar-right {
    margin-right: 0;
}

//== Jumbotron Bootstrap Overwrites
//
//##

.jumbotron {
    padding-top: ($jumbotron-padding + $navbar-height);
    padding-bottom: ($jumbotron-padding + $navbar-height);
    border: transparent;
}

//== Custom Styling
//
//##

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: none;
}

.btn-inverse {
    &.btn-default {
        @include button-inverse-variant(#fff, transparent, #fff, $gray-light);
    }
}

.content {
    .main {
        margin-top: (($navbar-height + 1) * -1);
        
        .jumbotron {
            @extend .jumbotron;
            background: center center no-repeat url("/images/main/hero_1.png");
            background-size: cover;
            text-shadow: 0 2px 5px rgba(0,0,0,0.5);
            text-align: center;
            
            h1 {
                text-transform: capitalize;
            }
            
            .well {
                margin: 40px auto;
                @include gradient-vertical(rgba(0,0,0,.4), rgba(0,0,0,.3), 0%, 100%);
                border-color: transparent;
                background-color: transparent;
                
                .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
                    @include opacity(1);
                }
            }
        }
    }
}

footer {
    padding: 15px 0 30px;
}

.btn-love {
    @include button-variant(#CD2626, transparent, transparent);
}

/* Small devices */
@media (min-width: $screen-sm-min) { 
    .content {
        .main {
            .jumbotron {
                h1, .h1 {
                    font-size: 54px;
                    margin-bottom: 22px;
                    margin-top: 50px;
                }
            }
        }
    }
}

/* Medium devices */
@media (min-width: $screen-md-min) { 
    .content {
        .main {
            .jumbotron {
                h1, .h1 {
                    font-size: 72px;
                    margin-top: 65px;
                }
            }
        }
    }
}

/* Large devices */
@media (min-width: $screen-lg-min) { 

}