@import "main/_variables.scss";
@import "main/mixins/_material.scss";
@import "../bower_components/bootstrap-material-design/sass/_shadows.scss";

// Well and Jumbotrons
/* @import "../bower_components/bootstrap-material-design/sass/_welljumbo.scss"; */

// Buttons
@import "../bower_components/bootstrap-material-design/sass/_buttons.scss";
// Checkboxes
@import "../bower_components/bootstrap-material-design/sass/_checkboxes.scss";
// Radios
@import "../bower_components/bootstrap-material-design/sass/_radios.scss";
// Text inputs
//@import "../bower_components/bootstrap-material-design/sass/_inputs.scss";

legend {
  border-bottom: 0;
}

// Lists
@import "../bower_components/bootstrap-material-design/sass/_lists.scss";
// Navbar
/* @import "../bower_components/bootstrap-material-design/sass/_navbar.scss"; */
.dropdown-menu {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  .divider {
    background-color: rgba(229, 229, 229, 0.12);
  }
  li {
    overflow: hidden;
    position: relative;
    a:hover {
      background-color: transparent;
      color: $primary;
    }
  }
}

// Alerts
@import "../bower_components/bootstrap-material-design/sass/_alerts.scss";
// Progress bar
@import "../bower_components/bootstrap-material-design/sass/_progress.scss";
// Typography
.text-warning {
  color: $btn-warning;
}
.text-primary {
  color: $btn-primary;
}
.text-danger {
  color: $btn-danger;
}
.text-success {
  color: $btn-success;
}
.text-info {
  color: $btn-info;
}
@import "../bower_components/bootstrap-material-design/sass/_tabs.scss";
@import "../bower_components/bootstrap-material-design/sass/_popups.scss";
@import "../bower_components/bootstrap-material-design/sass/_icons.scss";
@import "../bower_components/bootstrap-material-design/sass/_cards.scss";
// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}
// External plugins
@import "../bower_components/bootstrap-material-design/sass/_plugin-snackbarjs.scss";
@import "../bower_components/bootstrap-material-design/sass/_plugin-nouislider.scss";
@import "../bower_components/bootstrap-material-design/sass/ripples.scss";
