// Core variables and mixins
@import "main/variables";

// Bootstrap
$icon-font-path: "../bower_components/flat-ui-sass/vendor/assets/fonts/flat-ui/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Flat UI
@import "flat-ui-sass/vendor/assets/stylesheets/flat-ui";

@import "main/mixins";

// Components
@import "main/backgrounds";
@import "main/buttons-inverse";
@import "main/buttons-variants";
@import "main/navbars-inverse";
@import "main/padding";
@import "main/footer";

// Custom CSS
@import "main/global";
@import "main/main";
@import "main/developer";
