RewriteEngine On
Redirect 301 /resume /
Redirect 301 /resume/files/tylergoelz_resume.pdf /
Redirect 301 /content/contact /
Redirect 301 /about /
RedirectMatch 403 ^.*/bootstrap/$
RedirectMatch 403 ^.*/css/$
RedirectMatch 403 ^.*/fonts/$
RedirectMatch 403 ^.*/images/$
RedirectMatch 403 ^.*/includes/$
RedirectMatch 403 ^.*/js/$
