Redirect 301 /resume /
Redirect 301 /resume/files/tylergoelz_resume.pdf /
Redirect 301 /content/contact /
Redirect 301 /about /
Redirect 301 /home /
Redirect 301 /trip http://www.abeardacrossamerica.com
Redirect 301 /2013 http://www.abeardacrossamerica.com
RedirectMatch 403 ^.*/bootstrap/$
RedirectMatch 403 ^.*/css/$
RedirectMatch 403 ^.*/fonts/$
RedirectMatch 403 ^.*/images/$
RedirectMatch 403 ^.*/includes/$
RedirectMatch 403 ^.*/js/$
