/*
    Document   : app/styles/main/_custom．scss
    Created on : 2014-12-08 11:12 PM
    Author     : yaboi
    Description: Custom styles for Passion Driven Portfolio
    Version    : 1.0.0
*/

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer; 
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//== Custom Styling
//
//##

/* Small devices */
@media (min-width: $screen-sm-min) { 
    
}

/* Medium devices */
@media (min-width: $screen-md-min) { 
    
}

/* Large devices */
@media (min-width: $screen-lg-min) { 

}