/*
    Document   : app/styles/main/_developerï¼Žscss
    Created on : 2014-12-31 04:39 PM
    Author     : yaboi
    Description: Custom styles for Passion Driven Portfolio:Developer.html
    Version    : 1.0.0
*/

//== Custom Developer.html Styling
//
//##
@include navbars-inverse('.navbar-developer', $brand-developer);
@include bg-variant('.bg-developer', $brand-developer);

.btn-developer {
    @extend .btn-wisteria;
}

.developer {
    /* Wheelhouse */
    .wheelhouse {
        @extend .padding-vertical-lg;
    
        .media {
            margin-top: 25px;    
        }
    }

    /* Projects */
    .hero {
        a.thumbnail {
            &.active, &:focus, &:hover {
               border-color: $brand-developer;
            }
        }
     
        .content {
            a {
                &.btn {
                    @extend .btn-developer;
                }  
            }
        }
        
        &:hover {
            @extend .bg-developer;
        }
    }
    
    /* Open Source Everything!!! */
    .open-source {
        @extend .padding-vertical-lg;
        @extend .text-center;
    }
    
    /* Small devices */
    @media (min-width: $screen-sm-min) {
        
    }
    
    /* Medium devices */
    @media (min-width: $screen-md-min) { 
        
    }
    
    /* Large devices */
    @media (min-width: $screen-lg-min) { 
    
    }
}