/*
    Document   : app/styles/main/_developer．scss
    Created on : 2014-12-31 04:39 PM
    Author     : yaboi
    Description: Custom styles for Passion Driven Portfolio:Developer.html
    Version    : 1.0.0
*/

//== Custom Developer.html Styling
//
//##

/* Wheelhouse */
.wheelhouse {
    @extend .padding-vertical-lg;
    
    .media {
        margin-top: 25px;    
    }
}

/* Project */
.projects {
    @extend .padding-vertical-lg;

    .project {
        @extend .padding-vertical-md;
        @extend .bg-white;
        @extend .text-center;
        @extend .clearfix;
        
        overflow: hidden;
        border-bottom: 1px solid $gray-lighter;
        
        .thumbnail {
            @extend .visible-xs-inline-block;
            @extend .visible-sm-inline-block;
        }
        
        .content {
            a[role="button"] {
                @extend .btn;
                @extend .btn-wide;
                @extend .btn-wisteria;
            }
        }
        
        .image {
            @extend .hidden-xs;
            @extend .hidden-sm;
            
            img {
                @extend .img-responsive;
                @extend .center-block;
                
                //Fix so that the image doesn't affect
                //the height of the container.
                margin-bottom: -35px;
            }
        }
        
        /* Medium devices */
        @media (min-width: $screen-md-min) {
            text-align: left;
            padding-top: 100px;
            padding-bottom: 0px;
        }
        
        &:hover {
            @extend .bg-wisteria;
            
            .image {
                img {

                }
            }
        }
    }
}

/* Project Recent */
.projects-recent {
    @extend .text-center;
    
    .project {
        @extend .col-xs-6;
        @extend .col-md-3;
        
        .thumbnail {
            
            .caption {
                a[role="button"] {
                    @extend .btn;
                    @extend .btn-sm;
                    @extend .btn-wisteria-inverse
                }
            }
        }
    }
    
}

/* Open Source Everything!!! */
.open-source {
    @extend .padding-vertical-lg;
    @extend .text-center;
}