/*
    Document   : app/styles/main/_developer．scss
    Created on : 2014-12-31 04:39 PM
    Author     : yaboi
    Description: Custom styles for Passion Driven Portfolio:Developer.html
    Version    : 1.0.0
*/

//== Custom Developer.html Styling
//
//##

/* Wheelhouse */
.wheelhouse {
    @extend .padding-vertical-lg;
    
    .media {
        margin-top: 25px;    
    }
}

/* Project */
.projects {
    @extend .padding-vertical-lg;

    .project {
        @extend .padding-vertical-md;
        @extend .text-center;
        @extend .clearfix;
        
        border-bottom: 1px solid lighten($wisteria, 30);
        
        a.thumbnail {
            @extend .visible-xs-inline-block;
            @extend .visible-sm-inline-block;
            
            border: 1px solid $gray-lighter;
            
            &:hover, &:focus, &.active {
                border-color: $gray;
            }
        }
        
        .content {
            a[role="button"] {
                @extend .btn;
                @extend .btn-wide;
                @extend .btn-wisteria;
            }
        }
        
        .image {
            @extend .hidden-xs;
            @extend .hidden-sm;
            
            img {
                @extend .img-responsive;
                @extend .center-block;
            }
        }
        
        /* Medium devices */
        @media (min-width: $screen-md-min) {
            text-align: left;
        }
    }
}

/* Project Recent */
.projects-recent {
    @extend .text-center;
    
    .project {
        @extend .col-xs-6;
        @extend .col-md-3;
        
        .thumbnail {
            
            .caption {
                a[role="button"] {
                    @extend .btn;
                    @extend .btn-sm;
                    @extend .btn-wisteria-inverse
                }
            }
        }
    }
    
}

/* Open Source Everything!!! */
.open-source {
    @extend .padding-vertical-lg;
    @extend .text-center;
}