/*
    Document   : app/styles/main/_educate．scss
    Created on : 2015-01-08 10:50 PM
    Author     : yaboi
    Description: Custom styles for Passion Driven Portfolio:educate.html
*/

//== Custom educate.html Styling
//
//##
@include navbars-inverse('.navbar-educate', $wisteria);
@include bg-variant('.bg-educate', $brand-educate);

.btn-educate {
    @extend .btn-wisteria;
}

.educate {
    .hero {
        a.thumbnail {
            &.active, &:focus, &:hover {
               border-color: $brand-educate;
            }
        }
     
        .content {
            a {
                &.btn {
                    @extend .btn-educate;
                }  
            }
        }
        
        &:hover {
            @extend .navbar-silver;
        }
        
    }

    /* Small devices */
    @media (min-width: $screen-sm-min) {
        
    }
    
    /* Medium devices */
    @media (min-width: $screen-md-min) { 
        
    }
    
    /* Large devices */
    @media (min-width: $screen-lg-min) { 
    
    }
}