/*
    Document   : app/styles/main/_custom．scss
    Created on : 2014-12-08 11:12 PM
    Author     : yaboi
    Description: Custom Global styles for Passion Driven Portfolio
    Version    : 1.0.0
*/

//== Browser Happy
//
//##

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//== Angular for Bootstrap
//
//##
.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}

//== Bootstrap Overwrite Styling
//
//##
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}

.btn {
    margin-bottom: 10px;
}

.navbar-lg {
    border-radius: 0;
    
    .navbar-brand {
        line-height: 1.6;        
    }
    
    .navbar-nav {
         >li {
             > a {
                text-align: center;
                font-size: 24px;
             }    
         }
    }
}

.navbar-inverse {
    .navbar-collapse,
    .navbar-form {
        border-color: $navbar-inverse-border;
    }
}
.nav-icon {
    max-width: 50px !important;
}

.jumbotron { 
    margin-bottom: 0;
}

.media-left, .media > .pull-left {
    margin-right: 15px;
}

.serif {
    font-family: $font-family-serif;
}

//== Flat UI Overwrite Styling
//
//##

footer a {
    font-weight: normal;
}
.breadcrumb {font-size: 1.5em;background: transparent;}

.jumbotron p {
font-size: 28px;
}

//== Custom Global Styling
//
//##

/* Navbar */
.navbar-logo {
  border-radius: 100%;
  background-color: rgba(0,0,0,.4);
  width: 66px;
  height: 66px;
  padding: 2px 9px;
  margin-top: 2px;
}

.navbar-logo .nav-icon {
  margin: 5px auto;
  display: block;
}


.navbar-lg .navbar-brand {
  padding-top: 3px;
}


/* Hero */
.hero {
    @extend .padding-vertical-md;
    @extend .bg-white;
    @extend .text-center;
    @extend .clearfix;
    
    @include transition(0.4s ease-in-out);
    
    min-height: 500px;
    overflow: hidden;
    border-bottom: 1px solid $gray-lighter;
    
    a.thumbnail {
        @extend .visible-xs-inline-block;
        @extend .visible-sm-inline-block;
        background-color: transparent;
        border: none;
        border-radius: inherit;
            &img {
                width: 150px;
            }
    }
    
    .content {
        a {
            &.btn {
                @extend .btn-wide;
            }  
        }
    }
    
    .image {
        @extend .hidden-xs;
        @extend .hidden-sm;
        
        img {
            @extend .img-responsive;
            @extend .center-block;
            
            @include transition(0.4s ease-in-out);
            
            position: absolute;
            top: 30px;
        }
    }
    
    /* Medium devices */
    @media (min-width: $screen-md-min) {
        text-align: left;
        padding-top: 100px;
        padding-bottom: 0px;
    }
    
    &:hover {
        .image {
            img {
                top: 20px;
            }
        }
    }
}

/* Highlights */
.projects-recent {
    @extend .text-center;
    
    .project {
        @extend .col-xs-6;
        @extend .col-md-3;
        
        .thumbnail {
            
            .caption {
                a[role="button"] {
                    @extend .btn;
                    @extend .btn-sm;
                    @extend .btn-wisteria-inverse
                }
            }
        }
    }
    
}

.underline {border-bottom: 2px dashed;}


/* Small devices */
@media (min-width: $screen-sm-min) {
    /* Navbar */
    .navbar-logo {
    margin-top: 2px;
    }    
}

/* Medium devices */
@media (min-width: $screen-md-min) { 
    /* Navbar */
    .navbar-logo {
        margin-top: 6px;
    }    
}

/* Large devices */
@media (min-width: $screen-lg-min) { 
    /* Navbar */
    .navbar-logo {
        margin-top: 8px;
    }    

}