/*
    Document   : app/styles/main/_hack．scss
    Created on : 2014-12-31 04:39 PM
    Author     : yaboi
    Description: Custom styles for Passion Driven Portfolio:hack.html
    Version    : 1.0.0
*/

//== Custom hack.html Styling
//
//##
@include navbars-inverse('.navbar-hack', $belize-hole);
@include bg-variant('.bg-hack', $brand-hack);

.btn-hack {
    @extend .btn-wisteria;
}

.hack {    
    /* Wheelhouse */
    .wheelhouse {
        @extend .padding-vertical-lg;
    
        .media {
            margin-top: 25px;    
        }
    }

    /* Projects */
    .hero {
        a.thumbnail {
            &.active, &:focus, &:hover {
               border-color: $brand-hack;
				min-width: 150px;
            }
        }
     
        .content {
            a {
                &.btn {
                    @extend .btn-hack;
                }  
            }
        }
        
        &:hover {
            @extend .bg-hack;
        }
    }
.jumbotron {
    .underline {border-color: #2677ac;}
}
    
    /* Open Source Everything!!! */
    .open-source {
        @extend .padding-vertical-lg;
        @extend .text-center;
    }
    
    /* Small devices */
    @media (min-width: $screen-sm-min) {
        
    }
    
    /* Medium devices */
    @media (min-width: $screen-md-min) { 
        
    }
    
    /* Large devices */
    @media (min-width: $screen-lg-min) { 
    
    }

/* about.me embed.css *//* reset for aboutme-embed */#aboutme-joelserino-1422992645867727 div,#aboutme-joelserino-1422992645867727 span,#aboutme-joelserino-1422992645867727 img {  background-color: #F5F3EF;margin: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;text-align: left;}/* reset for aboutme-default */.aboutme-default div,.aboutme-default p,.aboutme-default img,.aboutme-default ol,.aboutme-default ul,.aboutme-default li {display: block;margin: 0;padding: 0;border: 0;outline: 0;background: none;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;line-height: inherit;vertical-align: baseline;text-shadow: none;box-shadow: none;}.aboutme-default span,.aboutme-default a,.aboutme-default sub,.aboutme-default sup {display: inline;margin: 0;padding: 0;border: 0;outline: 0;background: none;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;line-height: inherit;vertical-align: baseline;text-shadow: none;box-shadow: none;}.aboutme-default b,.aboutme-default strong {display: inline;margin: 0;padding: 0;border: 0;outline: 0;background: none;font-weight: bold;font-style: inherit;font-size: 100%;font-family: inherit;line-height: inherit;vertical-align: baseline;text-shadow: none;box-shadow: none;}.aboutme-default em,.aboutme-default i {display: inline;margin: 0;padding: 0;border: 0;outline: 0;background: none;font-weight: inherit;font-style: italic;font-size: 100%;font-family: inherit;line-height: inherit;vertical-align: baseline;text-shadow: none;box-shadow: none;}/* base styles for aboutme-embed */.aboutme-embed {margin: 10px 0;}.aboutme-embed .aboutme-img img {display: block;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;margin-bottom: 8px;}.aboutme-embed .aboutme-name {font-size: 140%;font-weight: bold;margin-bottom: 4px;}.aboutme-embed .aboutme-headline {font-size: 120%;margin-bottom: 8px;}.aboutme-embed .aboutme-bio {margin-bottom: 15px;}.aboutme-embed .aboutme-bio p {margin: 0;margin-bottom: 8px;}.aboutme-embed .aboutme-apps {}.aboutme-embed .aboutme-apps a {border: 0 !important;display: inline-block !important;width: 32px !important;height: 32px !important;margin: 0 2px 5px 0 !important;padding: 0 !important;text-decoration: none !important;background-repeat: no-repeat !important;background-position: left top !important;}.aboutme-embed .aboutme-apps a.app-medium { background-image: url(http://dcbdluf1ahqio.cloudfront.net/medium/32x32.png); }a.app-aboutme {   border: 0 !important;display: inline-block !important;width: 32px !important; height: 32px !important;margin: 0 2px 5px 0 !important; padding: 0 !important;text-decoration: none !important;background-repeat: no-repeat !important;background-position: left top !important;background-image: url(http://d2ed0w4q03gsmw.cloudfront.net/512dba3/images/logos/aboutme_logo_white.svg); }.aboutme-embed .aboutme-apps a.app-px500 { background-image: url(http://dcbdluf1ahqio.cloudfront.net/px500/32x32.png); }.aboutme-embed .aboutme-apps a.app-github { background-image: url(http://dcbdluf1ahqio.cloudfront.net/github/32x32.png); }.aboutme-embed .aboutme-apps a.app-twitter { background-image: url(http://dcbdluf1ahqio.cloudfront.net/twitter/32x32.png); }.aboutme-embed .aboutme-apps a.app-behance { background-image: url(http://dcbdluf1ahqio.cloudfront.net/behance/32x32.png); }.aboutme-embed .aboutme-apps a.app-facebookpage { background-image: url(http://dcbdluf1ahqio.cloudfront.net/facebookpage/32x32.png); }.aboutme-embed .aboutme-apps a.app-googleplus { background-image: url(http://dcbdluf1ahqio.cloudfront.net/googleplus/32x32.png); }.aboutme-embed .aboutme-apps a.app-tumblr { background-image: url(http://dcbdluf1ahqio.cloudfront.net/tumblr/32x32.png); }.aboutme-embed .aboutme-apps a.app-wordpress { background-image: url(http://dcbdluf1ahqio.cloudfront.net/wordpress/32x32.png); }.aboutme-embed .aboutme-apps a.app-linkedin { background-image: url(http://dcbdluf1ahqio.cloudfront.net/linkedin/32x32.png); }/* styles for horizontal layout */.aboutme-layout-horizontal .aboutme-content {display: table;width: 100%;}.aboutme-layout-horizontal .aboutme-img {display: table-cell;vertical-align: top;padding-right: 15px;margin-bottom: 0;}.aboutme-layout-horizontal .aboutme-img img {margin-bottom: 0;}.aboutme-layout-horizontal .aboutme-text {display: table-cell;vertical-align: top;}/* styles for aboutme-default */.aboutme-default {font-family: Helvetica, Arial, Sans-Serif;font-size: 16px;font-weight: normal;font-style: normal;line-height: 1.4;background-color: #cac7c1;padding: 4px;border: 1px solid #eee;border-color: rgba(0,0,0,0.2);box-shadow: 1px 1px 5px rgba(0,0,0,0.1);border-radius: 2px;margin: 10px 0;}.aboutme-default a {text-decoration: none;}.aboutme-default a:hover {text-decoration: none;}.aboutme-default p,.aboutme-default ol,.aboutme-default ul {margin-bottom: 0.75em !important;}.aboutme-default .aboutme-img img {border: 1px solid;border-color: #999;border-color: rgba(0,0,0,0.5);}.aboutme-default .aboutme-name {font-size: 140%;font-weight: bold;margin-bottom: 18px !important;}.aboutme-default .aboutme-headline {font-size: 120%;margin-bottom: 8px;}.aboutme-default .aboutme-bio {font-family: Georgia, Times, Serif;font-size: 14px;}.aboutme-default ul {list-style: disc;}.aboutme-default ol {list-style: decimal;}.aboutme-default ul,.aboutme-default ol {list-style-position: outside;padding-left: 2em;}.aboutme-default ul li,.aboutme-default ol li {display: list-item;padding: 0;margin: 0;}
}