/*
    Document   : app/styles/main/_main．scss
    Created on : 2014-12-08 11:12 PM
    Author     : yaboi
    Description: Custom styles for Passion Driven Portfolio:Main.html
    Version    : 1.0.0
*/

//== Custom Main.html Styling
//
//##
.content {
    section {
        @extend .padding-vertical-lg;
        text-align: center;
        
        .text {
            img {
                @include size(150px, 150px);
                padding-bottom: 25px;
            }
        }
        
        @media (min-width: $screen-sm-min) { 
            .visuals {
                img {
                    position: absolute;
                    width: 250px;
                    top:-235px;
                    
                    &.left {
                        left: -125px;
                    }
                    &.right {
                        right: -125px;
                    }
                }
            }
        }
        
        @media (min-width: $screen-md-min) { 
            text-align: left;
            
            .visuals {
                img {
                    position: relative;

                    &.left {
                        display: none;
                    }
                    
                    &.right {
                        right: 0;
                        top: 0;
                    }
                }
            }
        }
        
        @media (min-width: $screen-lg-min) { 

        }
    }
}
