/*
    Document   : app/styles/main/_main．scss
    Created on : 2014-12-08 11:12 PM
    Author     : yaboi
    Description: Custom styles for Passion Driven Portfolio:Main.html
    Version    : 1.0.0
*/

//== Custom Main.html Styling
//
//##
.content {
    section {
        @extend .text-center;
        @extend .padding-vertical-lg;
    }
}

/* Small devices */
@media (min-width: $screen-sm-min) {
    
}

/* Medium devices */
@media (min-width: $screen-md-min) { 
    
}

/* Large devices */
@media (min-width: $screen-lg-min) { 

}