/*
    Document   : app/styles/main/_travel．scss
    Created on : 2015-01-08 10:50 PM
    Author     : yaboi
    Description: Custom styles for Passion Driven Portfolio:Travel.html
*/

//== Custom travel.html Styling
//
//##
@include navbars-inverse('.navbar-travel', $pomegranate);
@include bg-variant('.bg-travel', $brand-travel);

.btn-travel {
    @extend .btn-pomegranate;
}

.travel {
    .hero {
        a.thumbnail {
            &.active, &:focus, &:hover {
               border-color: $brand-travel;
            }
        }
     
        .content {
            a {
                &.btn {
                    @extend .btn-travel;
                }  
            }
        }
        
        &:hover {
            @extend .bg-travel;
        }
    }
    
    /* Small devices */
    @media (min-width: $screen-sm-min) {
        
    }
    
    /* Medium devices */
    @media (min-width: $screen-md-min) { 
        
    }
    
    /* Large devices */
    @media (min-width: $screen-lg-min) { 
    
    }
}