<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="hidden-xs">Thank you to the <a href="https://twitter.com/hashtag/opensourceeverything" target="_blank">#OpenSourceEverything</a> community. Without you, this site wouldn't be possible. Here are the badasses that helped to make this site what it is: <a href="https://tylergoelz.com">Yaboi</a>, AngularJS, Express, NodeJS, HTML, Sass, Compass, jQuery, Codio, Bower, Grunt, Yeoman, Heroku, Beard and Fedora, Git, Github, NewRelic, Bootstrap, Polymer, DesignModo.</p>
            <p>
                <small>CopyLeft <a href="http://www.twitter.com/BeUnmistakable" target="_blank">{{brand}}</a> | Version {{version}} 
                    <span class="hidden-xs"> | <a href="https://github.com/thinq4yourself/Unmistakable" target="_blank"><i class="fui-heart"></i> Fork this project on github</a></span>
                </small>
            </p>
        </div>
    </div>
</div>