<div class="container">
    <div class="row-fluid">
        <div class="col-xs-12">
            <p>Thank you to the <a href="https://twitter.com/hashtag/opensourceeverything" target="_blank">#OpenSourceEverything</a> community. Without you, this site wouldn't be possible. Here are the badasses that helped to make this site what it is:</p>
            <p>
                AngularJS, HTML, Sass, Compass, jQuery, Codio, Bower, Grunt, Yeoman, heroku, Beard and Fedora, git, Github, NewRelic, DesignModo.
            </p>
            <p>
                <a class="btn btn-sm btn-link" href="https://github.com/yaboi/passiond-driven-portfolio" target="_blank"><i class="fui-heart"></i> Fork this project on github.</a>
            </p>
        </div>
    </div>
</div>