<div class="container">
    <div class="row-fluid">
        <div class="col-xs-12">
            <p>Thank you to all those that are striving to #OpenSourceEverything. Here are the badasses that made this site what it is.</p>
            <p>
                <a href="http://en.wikipedia.org/wiki/HTML5?ref=tylergoelz" target="_blank">HTML5</a>, <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets#CSS_3?ref=tylergoelz" target="_blank">CS3</a>, <a href="http://jquery.com/?ref=tylergoelz" target="_blank">jQuery</a>, <a href="http://designmodo.com/flat-free/?ref=tylergoelz" target="_blank">Flat UI</a>, <a href="http://getbootstrap.com/?ref=tylergoelz" target="_blank">Bootstrap</a>, <a href="http://fittextjs.com/?ref=tylergoelz" target="_blank">FitText.js</a>, <a href="http://bower.io/?ref=tylergoelz" target="_blank">Bower</a>, <a href="http://codio.com/?ref=tylergoelz" target="_blank">Codio</a>, <a href="https://devcenter.heroku.com/articles/git/?ref=tylergoelz" target="_blank">Git</a>, <a href="https://github.com/?ref=tylergoelz" target="_blank">github</a>, <a href="https://www.heroku.com/?ref=tylergoelz" target="_blank">heroku</a>
            </p>
            <p>
                <a class="btn btn-sm btn-link" href="https://github.com/yaboi/passiond-driven-portfolio" target="_blank"><i class="fui-heart"></i> Fork this project on github.</a>
            </p>
        </div>
    </div>
</div>