<form name="MailchimpSubscriptionForm" role="form" ng-controller="MailchimpSubscriptionCtrl">
    <div class="well" style="margin-bottom: 5px;">
        <div ng-hide="mailchimp.result === 'success'">
            <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='unmistakable'">
            <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us7'">
            <input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='f0848815aea2f6ed0517eb550'">
            <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='d7d298c29f'">
            <div class="visible-xs-block">
                <div class="form-group">
                    <input style="font-size: 2em;height:55px" type="email" name="email" ng-model="mailchimp.email" class="form-control" placeholder="email@example.com" required>
                </div>
                <button ng-click="addSubscription(mailchimp)" class="btn btn-primary btn-block" style="font-size: 22px;height:55px" type="button">Keep In Touch</button>
            </div>
            <div class="input-group input-group-lg hidden-xs">
                <span class="input-group-addon" id="basic-addon1" style="font-size: 2em;height:55px">@</span>
                <input type="email" name="EMAIL" ng-model="mailchimp.email" class="form-control" placeholder="email@example.com" style="font-size: 2em;height:75px" required>
                <span class="input-group-btn" style="vertical-align: top;">
                    <button ng-click="addSubscription(mailchimp)" class="btn btn-primary" style="font-size: 22px;height:75px;margin: 0;" type="button">Keep In Touch</button>
                </span>
            </div>
        </div>

        <!-- Show success message if MailChimp returned successfully. -->
        <div ng-show="mailchimp.result === 'success'" class="text-primary" ng-cloak>
            <p><strong>W00t, we ♥ you!</strong>  <span ng-bind-html="mailchimp.successMessage"></span>
            </p>
        </div>
    </div>
    <!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
    <div ng-show="mailchimp.result === 'error'" class="errorMessage" ng-cloak>
        <alert type="danger" close="closeAlert(mailchimp)" style="color: #fff;border-radius:5px;" role="alert">
            <strong>Aw, shucks. There was a small issue:</strong>
            <br />
            <span ng-bind-html="mailchimp.errorMessage"></span>
            <br />
            <button ng-show="closeable" type="button" class="close" ng-click="close()">
                <span>Close & Try Again</span>
            </button>
        </alert>
    </div>

    <small>
        <em>{{tagline}}</em>
    </small>

</form>