<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <span class="logo-header visible-md"></span>Tyler Goelz
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="/">Home</a>
            </li>
            <li><a ng-href="/traveler">Traveler</a>
            </li>
            <li><a ng-href="/developer">Developer</a>
            </li>
        </ul>
    </div>
</div>