<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img class="img-responsive" src="images/logo_alt.png" alt="Writeon">
            </a>
        </div>
        <div class="hidden-xs">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="btn btn-link navbar-btn">Log in</button>
                </li>
                <li>
                    <button type="button" class="btn btn-inverse btn-default navbar-btn">Sign Up</button>
                </li>
            </ul>
        </div>
    </div>
</nav>