<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img class="img-responsive" src="images/logo_alt.png" alt="Writeon">
            </a>
        </div>
        <div class="hidden-xs">
            <ul class="nav navbar-nav navbar-right" ng-controller="NavController as logincontroller">
                <li>
                    <button class="btn btn-inverse btn-default navbar-btn" title="Login" data-ng-click="logincontroller.go('/signin/')">Login</button>
                </li>
            </ul>
        </div>
    </div>
</nav>