<div data-ng-controller="DeveloperController">
    <section class="text-center" data-ng-class="jumbotronBackgroundColor">
        <div class="jumbotron">
            <div class="container">
                <div class="row-fluid">
                    <div class="col-xs-12">
                        <h1 data-fittext=".9" data-fittext-max="62px">I'm A <span class="hidden-xs">Front-End</span> Developer</h1>
                        <p>I practice <a href="http://gyshido.com/" target="_blank">The Art of Getting Your Shit Done</a> while building kickass web apps, websites, and products.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-vertical-xs">
        <div class="container">
            <div class="row-fluid text-center ">
                <div class="col-xs-12">
                    <h2 data-fittext=".9" data-fittext-max="52px">My Wheelhouse</h2>
                </div>
            </div>
            <div class="row-fluid">
                <div class="media">
                    <div class="media-left hidden-xs">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Cutting Edge Technology</h4>
                        <p>Whether it's stable, cutting edge technology in client work or experimental, bleeding edge technology in personal projects, I'm constantly reading about, learning, contrinbuting to, and implementing the most modern technologies.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left hidden-xs">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Lean UX &amp; Product Development</h4>
                        <p>A Front-End Developers job of aligning interface and business needs is never done.</p>
                        <blockquote>
                            <p>"Lean UX unites product development and business, through constant measurement and so called “learning loops” (build – measure – learn)."</p>
                            <small>
                                <a href="http://blog.uxpin.com/1375/lean-ux-vs-agile-ux-is-there-a-difference/" target="_blank">Marcin Treder</a>, CEO <cite title="UXPin">UXPin</cite>
                            </small>
                        </blockquote>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left hidden-xs">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Scalability, From Code-To-Product</h4>
                        <p>From <a href="http://yeoman.io/" target="_blank">modern scaffolding</a> tools to intuitive interface design, I build products and apps that scale to the needs of the user, as well as future developers.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left hidden-xs">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Customer Validation</h4>
                        <p>From startups to corporations, knowing your customer is the first step to any successful app or product. Once you've validated your customer, you can build a successful web app, website, or product.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-vertical-xs">
        <div class="container">
            <div class="row-fluid">
                <div class="col-xs-12 text-center">
                    <h2 data-fittext=".9" data-fittext-max="52px">Current Projects</h2>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12">
                    <div class="project text-center">
                        <div class="col-sm-7">
                            <h3><img class="visible-xs-inline" src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'"> WriteOn</h3>
                            <p>Bacon ipsum dolor amet porchetta t-bone prosciutto picanha tri-tip. Turducken ball tip tenderloin, shankle tail ham hock landjaeger t-bone pastrami.</p>
                            <a data-ng-href="{{linkPrefix}}{{pageLinks.traveler}}" class="btn btn-default btn-wide">
                                Start Writing
                            </a>
                        </div>
                        <div class="col-sm-4 hidden-xs">
                            <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12">
                    <div class="project text-center">
                        <div class="col-sm-7">
                            <h3><img class="visible-xs-inline" src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'"> Beard & Fedora</h3>
                            <p>Bacon ipsum dolor amet porchetta t-bone prosciutto picanha tri-tip. Turducken ball tip tenderloin, shankle tail ham hock landjaeger t-bone pastrami.</p>
                            <a data-ng-href="{{linkPrefix}}{{pageLinks.traveler}}" class="btn btn-default btn-wide">
                                Check Out Github
                            </a>
                        </div>
                        <div class="col-sm-4 hidden-xs">
                            <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12">
                    <div class="project text-center">
                        <div class="col-sm-7">
                            <h3><img class="visible-xs-inline" src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'"> A Beard Across America</h3>
                            <p>Bacon ipsum dolor amet porchetta t-bone prosciutto picanha tri-tip. Turducken ball tip tenderloin, shankle tail ham hock landjaeger t-bone pastrami.</p>
                            <a data-ng-href="{{linkPrefix}}{{pageLinks.traveler}}" class="btn btn-default btn-wide">
                                Get Going
                            </a>
                        </div>
                        <div class="col-sm-4 hidden-xs">
                            <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12 text-center">
                    <h4>Recent Projects</h4>
                    <div class="col-xs-6 col-md-3">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                        <p class="lead">Bacon Ipsum</p>
                        <a data-ng-href="{{linkPrefix}}{{pageLinks.traveler}}" class="btn btn-default btn-xs">
                            Get Going
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                        <p class="lead">Bacon Ipsum</p>
                        <a data-ng-href="{{linkPrefix}}{{pageLinks.traveler}}" class="btn btn-default btn-xs">
                            Get Going
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                        <p class="lead">Bacon Ipsum</p>
                        <a data-ng-href="{{linkPrefix}}{{pageLinks.traveler}}" class="btn btn-default btn-xs">
                            Get Going
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                        <p class="lead">Bacon Ipsum</p>
                        <a data-ng-href="{{linkPrefix}}{{pageLinks.traveler}}" class="btn btn-default btn-xs">
                            Get Going
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row-fluid">
                <div class="col-xs-12 text-center">
                    <h3 data-fittext=".9" data-fittext-max="40px">#OpenSourceEverything</h3>
                    <p>Bacon ipsum dolor amet porchetta t-bone prosciutto picanha tri-tip.</p>
                    <a class="btn btn-wisteria" href="https://github.com/yaboi/" target="_blank">View On Github</a>
                </div>
            </div>
        </div>
    </section>
</div>