<div data-ng-controller="DeveloperController">
    <section class="jumbotron text-center" data-ng-class="jumbotronBackgroundColor">
        <div class="container">
            <div class="row-fluid">
                <div class="col-xs-12">
                    <h1 data-fittext=".9" data-fittext-max="72px">I'm A Front-End Developer</h1>
                    <p>I help make the world a better place through technology.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-vertical-xs">
        <div class="container">
            <div class="row-fluid text-center ">
                <div class="col-xs-12">
                    <p class="lead">
                        A Front-End Developer's job is to make sure business goals &amp; customer actions align. Here's how I do that:
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="media col-md-6">
                    <div class="media-left hidden-xs">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Bacon ipsum dolor amet hamburger ground round biltong, flank andouille meatball ball tip fatback. Ball tip drumstick tri-tip venison, pig beef ribs picanha bresaola brisket swine chuck short ribs.</p>
                    </div>
                </div>
                <div class="media  col-md-6">
                    <div class="media-left hidden-xs">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Bacon ipsum dolor amet hamburger ground round biltong, flank andouille meatball ball tip fatback. Ball tip drumstick tri-tip venison, pig beef ribs picanha bresaola brisket swine chuck short ribs.</p>
                    </div>
                </div>
                <div class="media  col-md-6">
                    <div class="media-left hidden-xs">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Bacon ipsum dolor amet hamburger ground round biltong, flank andouille meatball ball tip fatback. Ball tip drumstick tri-tip venison, pig beef ribs picanha bresaola brisket swine chuck short ribs.</p>
                    </div>
                </div>
                <div class="media  col-md-6">
                    <div class="media-left hidden-xs">
                        <img src="images/icons/svg/car.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/car.png'">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Bacon ipsum dolor amet hamburger ground round biltong, flank andouille meatball ball tip fatback. Ball tip drumstick tri-tip venison, pig beef ribs picanha bresaola brisket swine chuck short ribs.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--     <section class="padding-vertical-xs bg-clouds">
        test
    </section> -->

    <!--     <section>
        <div class="container">
            <div class="row-fluid">
                <div class="col-xs-12 text-center">
                    <h1 data-fittext=".9" data-fittext-max="62px">#OpenSourceEverything</h1>
                </div>
            </div>
        </div>
    </section> -->
</div>