<div class="hack" data-ng-controller="HackController">
    <section data-ng-class="jumbotronBackgroundColor">
        <div class="jumbotron text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 data-fittext=".9" data-fittext-max="62px">I'm A <span class="hidden-xs">Growth</span> Hacker</h1>
                        <p>I practice <a href="http://gyshido.com/" target="_blank">The Art of Getting Your Shit Done</a> while building kickass companies, products, and websites.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wheelhouse">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">
                        <span data-fittext=".9" data-fittext-max="52px">Wheelhouse</span>
                    </h2>
                <div class="col-xs-6">
                    <div class="media">
                        <div class="media-left">
                            <img src="images/icons/svg/spaceship.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/spaceship.png'">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Scalability, From Idea To The Moon</h4>
                            <p>From <a href="http://www.datalove.me/" target="_blank">data love</a> to <a href="http://yeoman.io/" target="_blank">modern scaffolding</a> tools to <a href="http://dschool.stanford.edu/dgift/" target="_blank"> design thinking</a>, I build ideas into movements, products and companies that scale to now, as well as the future.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="images/icons/svg/flask.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/flask.png'">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Experiments in Technology</h4>
                            <p>Whether it's stable, cutting edge or experimental - I'm constantly reading about, learning, contributing to, and implementing the most future-proof technologies.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="media">
                        <div class="media-left">
                            <img src="images/icons/svg/infinity-loop.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/infinity-loop.png'">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Lean UX &amp; Product Development</h4>
                            <p>"Lean UX unites product development and business, through constant measurement and so called 'learning loops' (build–measure–learn)."
                                <small>
                                <a href="http://blog.uxpin.com/1375/lean-ux-vs-agile-ux-is-there-a-difference/" target="_blank">Marcin Treder</a>, CEO <cite title="UXPin">UXPin</cite>
                            </small>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="images/icons/svg/retina-ready.svg" alt="" onerror="this.onerror=null; this.src='/images/icons/png/retina-ready.png'">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Testing & Validation</h4>
                            <p>From companies to products to campaigns, knowing your audience is the first and most important step to any sustainable traction. <a href="https://medium.com/think-for-yourself/test-endlessly-forever-96e2aba310bb" target="_blank">Test. Endlessly. Forever.</a></p>
                        </div>
                    </div>
                 </div>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-vertical-lg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">
                        <span data-fittext=".9" data-fittext-max="52px">Projects</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 content">
                        <a href="http://writeon.io/" class="thumbnail">
                            <img src="images/hack/projects/writeon/logo.png" alt="">
                        </a>
                        <h3>WriteOn</h3>
                        <p><a href="http://writeon.io/" target="_blank">WriteOn</a> is a passion project built by Beard & Fedora. The app is a clean, minimalistic writing tool built for authors by authors.</p>
                        <a href="http://writeon.io/" class="btn" role="button">Sign Up For Private Beta</a>
                    </div>
                    <div class="col-md-5 image">
                        <img src="images/hack/projects/writeon/large.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 content">
                        <a href="https://github.com/BeardandFedora/" class="thumbnail">
                            <img src="images/hack/projects/beard_and_fedora/logo.png" alt="">
                        </a>
                        <h3>Beard & Fedora</h3>
                        <p>
                            A few years ago, in a detached garage in Downtown St. Pete, a business partnership came to fruition between two best friends. Since then, we've built a <a href="http://www.sproutcamp.co/" target="_blank">startup accelerator for misfits</a>, a LeanUX toolset, a distributed software development team, a <a href="https://github.com/BeardandFedora/HopStack" target="_blank">full front end development stack</a>, <a href="http://writeon.io/" target="_blank">WriteOn</a>, and more. We travel together, write together, and build things to change the world together.
                        </p>
                        <a href="http://beardandfedora.com" class="btn" role="button" target="_blank">Check It Out</a>
                    </div>
                    <div class="col-md-5 image">
                        <img src="images/hack/projects/beard_and_fedora/large.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 content">
                        <a href="http://www.abeardacrossamerica.com/" class="thumbnail">
                            <img src="images/hack/projects/abaa/logo.png" alt="">
                        </a>
                        <h3>A Beard Across America</h3>
                        <p>
                            <a href="http://www.abeardacrossamerica.com/" target="_blank">A Beard Across America</a> is a passion project inspired by my trip across America at the end of 2013. The project incorporates everything in my wheelhouse, including product development, scalability, and customer validation.
                        </p>
                        <a href="http://www.abeardacrossamerica.com/" class="btn" role="button">Check Out #ABAA</a>
                    </div>
                    <div class="col-md-5 image">
                        <img src="images/hack/projects/abaa/large.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="projects-recent">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Recent Projects</h4>
                    <div class="project">
                        <div class="thumbnail">
                            <img src="images/hack/projects/sproutcamp/logo.png" alt="">
                            <div class="caption">
                                <h4>SproutCamp</h4>
                                <p>
                                    <a class="btn-raised" href="http://www.sproutcamp.co/" role="button">Learn More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="project">
                        <div class="thumbnail">
                            <img src="images/hack/projects/leanlabs/logo.png" alt="">
                            <div class="caption">
                                <h4>LeanLabs</h4>
                                <p>
                                    <a class="btn-raised" href="http://www.lean-labs.com/work" role="button">Learn More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="project">
                        <div class="thumbnail">
                            <img src="images/hack/projects/songbird/logo.png" alt="" style="margin: 32px auto;">
                            <div class="caption">
                                <h4>Songbird</h4>
                                <p>
                                    <a class="btn-raised" href="http://www.songbirdagency.com/" role="button">Learn More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="project">
                        <div class="thumbnail">
                            <img src="images/hack/projects/simflofy/logo.png" alt="" style="margin: 47px auto;width: 80%;">
                            <div class="caption">
                                <h4>Simflofy</h4>
                                <p>
                                    <a class="btn-raised" href="http://www.simflofy.com/" role="button">Learn More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="open-source">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>
                        <span data-fittext=".9" data-fittext-max="40px">#OpenSourceEverything</span>
                    </h3>
                    <p>
                        "The future of intelligence is not secret, not federal, and not expensive. It is about transparency, truth, and trust among our local to global collective. Only 'open' is scalable." <small>- <a href="http://www.amazon.com/The-Open-Source-Everything-Manifesto-Transparency/dp/1583944435" target="_blank">Open-Source Everything Manifesto</a></small>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>