<div ng-data-controller="MainCtrl">
    <section class="jumbotron text-center">
        <div class="container">
            <div class="row-fluid">
                <div class="col-xs-12">
                    <h1 data-fittext="1" data-fittext-max="72px">Hello, I'm Tyler Goelz.</h1>
                    <!--<img src="images/main/*.svg" class="img-responsive center-block" onerror="this.onerror=null; this.src='/images/main/*.png'" />-->
                    <p>
                        I'm a <a ng-href="/traveler">full-time traveler</a> and <a ng-href="/developer">front-end developer</a>. I live a <a ng-href="https://medium.com/@tylergoelz/begin-your-passion-driven-lifestyle-and-keep-your-clients-happy-850610966496" target="_blank">passion driven lifestyle</a> and strive to create technology that will better the world.
                    </p>
                    <div data-ng-controller="SmoothScrollCtrl">
                        <button ng-click="gotoAnchor('approach')" class="btn btn-primary btn-lg" type="button">
                            Learn More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>