<section class="jumbotron text-center" data-ng-controller="MainController" data-ng-class="jumbotronBackgroundColor">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 data-fittext=".9" data-fittext-max="62px"><span class="hidden-xs">Hello,</span> We're A Traveling Family.</h1>
                <p class="col-lg-8 col-lg-offset-2 serif lead">
                    <em>We want to have the adventure of a lifetime. Follow an idea to the edges. And keep going. Forgo tradition. Trust OUR instincts. Be who we are. And let our natural creativity & curiosity be our guide.</em>
                </p>
                <div class="col-xs-12 padding-top-sm">
                    <p>
                        <small class="text-muted">Want to know more?</small>
                    </p>
                    <div data-ng-controller="SmoothScrollController">
                        <p>
                            <button ng-click="gotoAnchor('scroll-down')" class="btn btn-peter-river btn-wide btn-raised" type="button">Scroll Down</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="scroll-down" class="content">
    <div id="travel" class="bg bg-peter-river bg-border-top overview">
        <div class="container">
            <div class="row">
                <div class="text col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-0">
                    <img class="visible-xs-block center-block" src="images/icons/svg/trip-bag.svg" alt="I'm A Nomad" onerror="this.onerror=null; this.src='/images/icons/png/trip-bag.png'">
                    <h3 data-fittext=".9" data-fittext-max="40px">We are <span class="hidden-xs">Full-Time</span> Nomads</h3>
                    <p>Traveling makes us realize how much we don’t know about the world. 
                        It shows us what we're capable of.
                        Traveling restores our faith in humanity.
                        It reminds us that we all have the same basic needs.
                        Traveling shows us that there are other ways to do things.
                        It introduces us to like-minded people and realizing our goals and dreams are not uncommon.
                     </p>
                     <p>In 2013, we ventured out into the USA as a family - in a 15ft vintage 1981 Trillium travel trailer in tow - for an <a data-ng-href="{{linkPrefix}}{{pageLinks.travel}}">Unmistakable</a> adventure.
                        We've been traveling ever since, and the so the adventure continues.
                    </p>
                    <a data-ng-href="{{linkPrefix}}{{pageLinks.travel}}" class="btn btn-wide btn-raised">
                        Check Out Our Travels
                    </a>
                </div>
                <div class="visuals col-xs-12 col-md-4 hidden-xs">
                    <img class="left" src="images/icons/svg/spaceship.svg" alt="I'm A Nomad" onerror="this.onerror=null; this.src='/images/icons/png/spaceship.png'">
                    <img class="right" src="images/icons/svg/trip-bag.svg" alt="I'm A Nomad" onerror="this.onerror=null; this.src='/images/icons/png/trip-bag.png'">
                </div>
            </div>
        </div>
    </div>
    <div class="bg bg-wisteria bg-border-top overview">
        <div class="container">
            <div class="row">
                <div class="text col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-0">
                    <img class="visible-xs-block center-block" src="images/icons/svg/pencil.svg" alt="I'm A Traveler" onerror="this.onerror=null; this.src='/images/icons/png/Pencil.png'">
                    <h3 data-fittext=".9" data-fittext-max="40px">We're Educators Of Young Minds</h3>
                    <p>Using today's most conscious education curriculum and methods available, Mom helps us make our biggest contribution to humanity yet - home schooling our ten going on twenty year old daughter.</p>
                    <p></p>
                    <a data-ng-href="{{linkPrefix}}{{pageLinks.hack}}" class="btn btn-wide btn-raised">
                        Join Our Global Village
                    </a>
                </div>
                <div class="visuals col-xs-12 col-md-4 hidden-xs">
                    <img class="left" src="images/icons/svg/macbook.svg" alt="I'm A Front-End Developer" onerror="this.onerror=null; this.src='/images/icons/png/macbook.png'">
                    <img class="right" src="images/icons/svg/user-interface.svg" alt="I'm A Front-End Developer" onerror="this.onerror=null; this.src='/images/icons/png/user-interface.png'">
                </div>
            </div>
        </div>
    </div>
</section>