<div data-ng-controller="TravelController">
    <section class="text-center" data-ng-class="jumbotronBackgroundColor">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 data-fittext=".9" data-fittext-max="62px">We Are <span class="hidden-xs">Full-Time</span> Travelers</h1>
                        <p class="serif lead"><em>We live one destination at a time. We set our intentions - together - and follow through. 
                            Our dream is to experience the world as a family - and we are living it.</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="darken padding-vertical-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead">Exploring, writing, traveling, backpacking, educating, creating — as a family.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 content">
                        <a href="https://maptia.com/unmistakable" class="thumbnail">
                            <img src="/images/icons/svg/trip-bag.svg" alt="We Travel" onerror="this.onerror=null; this.src='/images/icons/png/trip-bag.png'">
                        </a>
                        <h3>An Unmistakable Journey</h3>
                        <p>
                            We are on the journey of a lifetime, and the Search For The Perfect Taco. It's an authentic life co-created by all members of our family, and our entire tribe of <a href="http://veryinterestingfamily.com" target="_blank">Very Interesting Families</a>.
                        </p>
                        <p>On <a href="https://maptia.com/welcome" alt="Maptia" target="_blank">Maptia</a>, we create beautiful ways to tell the remarkable stories of the places we travel to and the people we meet.  
                            We are doing this to help inspire your family to redefine what seemed “impossible” to achieve and hope we can inspire you to pursue your passions and realize your dreams a lot sooner than expected.
                        </p>
                        <a href="https://maptia.com/unmistakable" class="btn btn-raised btn-travel" role="button">Check Us Out ON Maptia</a>
                    </div>
                    <div class="col-md-5 image">
                        <img src="images/travel/maptia-tablet-horiz-sm.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="padding-vertical-lg">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12">
                    <h2 data-fittext=".9" data-fittext-max="52px">From The Blog</h2>
                </div>
            </div>
            <div class="row">
                <script async src="https://static.medium.com/embed.js"></script><a  class="m-profile" data-width="100%" data-border="false" href="https://medium.com/@Unmistakable">An Unmistakable Journey</a>
            </div>
        </div>
    </section>
</div>