<div data-ng-controller="TravelController">
    <section class="text-center" data-ng-class="jumbotronBackgroundColor">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 data-fittext=".9" data-fittext-max="62px">We Are <span class="hidden-xs">Full-Time</span> Travelers</h1>
                        <p class="serif lead"><em>We live one destination at a time. We set out intentions - together - and follow through. 
                            Our dream is to experience the world as a family - and we are living it.</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="darken padding-vertical-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead">We travel, and write about it, to inspire families redfined something “impossible” as achievable a lot sooner than expected.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 content">
                        <a href="https://maptia.com/unmistakable" class="thumbnail">
                            <img src="images/hack/projects/abaa/logo.png" alt="">
                        </a>
                        <h3>An Unmistakable Journey</h3>
                        <p>
                            <a href="https://maptia.com/unmistakable" target="_blank">Unmistakable</a> is the journey of a lifetime. It's an authentic life co-created by all members of our family, and our entire tribe.
                        </p>
                        <a href="https://maptia.com/unmistakable" class="btn" role="button">Check Out #Unmistakable</a>
                    </div>
                    <div class="col-md-5 image">
                        <img src="images/hack/projects/abaa/large.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>